
#tudo{

    min-height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 0px;
    
}

html, body { 
    
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: block;
    font-family: Tahoma;
    height: 100%;
    font-size: 11pt;
}

#topo{
    
    width: 100%;
    height: 30px;
    background: #c15050;
}

#midTopo{
    
    width: 100%;
    height: 170px;
    border-bottom: 1px solid #c15050;

}

#principal{
    
    float: left;
    display: table; 
    border: 1px solid #c15050;
    position: relative;

}

#lateralDireito{
    
    height: 60%;
    width: 200px;
    float: left;
    position: absolute;
    border: solid 1px #acabab;
    -webkit-box-shadow:  0px 1px 8px 2px #444444;
    box-shadow:  0px 1px 4px 2px #444444;
    -webkit-border-radius: 0px 0px 20px 20px;
    border-radius: 0px 20px 20px 0px;
}

#rodape{
    
    position: absolute;
    margin-top: -25px;
    height: 25px;
    clear: both;
    text-align: center;
    line-height: 25px;
    background: #c15050;
    bottom: 0;
    width: 100%;
}

#produtos{
    border: 1px solid;
    width: 900px;
    height: 450px;
    float: left;
    position: absolute;
    left: 220px;
}

div.cartoes{
  
    width: 150px;
    height: 70px;
    margin: 23px 0px -5px 17px;
}

img.logo:hover{
    width: 152px;
}

.logo{
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

img.logo:active, img.logo:focus{
    width: 150px;
}

span.preco{
    color:#ff8a00;
    margin-left: 50px;
    font-weight:bold;
}

a.prod_buy{
    
    width:75px;
    height:24px;
    display:block;
    float:left;
    background:url(imagens/link_bg.gif) no-repeat center;
    margin: 2px 0 0 5px;
    text-align:center;
    line-height:24px;
    text-decoration:none;
    color:#ff8a00;
    padding:5px 0 5px 0;
    font-weight:bold;
}

a.prod_buy:hover{
    color: #064E5A;
}

a.prod_buy:active, a.prod_buy:focus {
    color: #031569;
}

.product_title{
    color:#ff8a00;
    padding:5px 0 5px 10px;
    font-weight:bold;
    text-align: justify;
}

.product_title a{
    text-decoration:none;
    color:#ff8a00;
    padding:5px 0 5px 0;
    font-weight:bold;
}

.product_title a:hover{
    color:#064E5A;
}

.prod_box{
    float:left;
    padding:20px 20px 10px 21px;
}

#Unitel{
    position: absolute;
    top: 5%;
}

#Movicel{
    position: absolute;
    top: 25%;
}

#NetOne{
    position: absolute;
    top: 45%;
}

#Zap{
    position: absolute;
    top: 65%;
}

#cartao{
    border: 1px solid blue;
    width: 310px;
    height: 180px;
    margin: 35px 0px 0px 22px;
    float: left;
}

#caractCard{
    
    border: 1px solid;
    float: left;
    width: 520px;
    height: 180px;
    display: inline;
    margin-top: 35px;
    margin: 35px 0px 10px 10px; 
    font-weight: bold;
}

#instruct{
    
    border: 1px solid;
    width: 200px;
    height: 150px;
    clear: both;
    margin-left: 22px;
}